<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>FinantierPay - Edit User Membership</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/css/bootstrap.js"></script>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style th:replace="fragments/FinantierPay_style"></style>
</head>
<body>
	<div th:replace="fragments/FinantierPay_header"></div>
	<div class="container">
		<h3 class="text-center mb-3">Edit User Membership</h3>
		<hr>
		<form class="needs-validation" method="post" th:object="${Account}"
			th:action="@{/user/edit/{id}(id=${Account.accountId})}" novalidate>
			<div class="d-flex justify-content-center row">
				<div class="mb-3 row col-md-5">
					<label for="firstName" class="form-label col-md-5 fw-bold">First
						name: </label>
					<div class="col-md">
						<input id="firstName" type="text" class="form-control"
							th:field="*{first_name}" required minlength=3 maxlength=20 />
						<div class="invalid-feedback">Please enter first name.</div>
						<p class="text-danger" th:if="${#fields.hasErrors('first_name')}"
							th:errors="*{first_name}"></p>
					</div>
				</div>

				<div class="mb-3 row col-md-5">
					<label for="lastName" class="form-label  col-md-5 fw-bold">Last
						name: </label>
					<div class="col-md">
						<input id="lastName" type="text" class="form-control"
							th:field="*{last_name}" required minlength=1 maxlength=20 />
						<div class="invalid-feedback">Please enter last name.</div>
						<p class="text-danger" th:if="${#fields.hasErrors('last_name')}"
							th:errors="*{last_name}"></p>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center row">
				<div class="mb-3 row col-md-5">
					<label for="country" class="form-label col-md-5 fw-bold">Country:
					</label>
					<div class="col-md">
						<select class="form-control" id="country" th:field="*{country}"
							oninput="checkCountry(this);" required>
							<option value="">Choose One</option>
							<option th:each="country : ${countryList}"
								th:value="${country.countryId}" th:text="${country.countryName}"></option>
						</select>
						<div class="invalid-feedback">Please select one country.</div>
						<p class="text-danger" th:if="${#fields.hasErrors('country')}"
							th:errors="*{country}"></p>
					</div>
				</div>
				<div class="mb-3 row col-md-5">
					<label for="date_of_birth" class="form-label col-md-5 fw-bold">Date
						Of Birth:</label>
					<div class="col-md">
						<input id="dob" type="date" class="form-control"
							th:field="*{date_of_birth}" required min="1920-01-01"
							th:max="${minAge}" />
						<div class="invalid-feedback">Please enter date of birth.</div>
						<p class="text-danger"
							th:if="${#fields.hasErrors('date_of_birth')}"
							th:errors="*{date_of_birth}"></p>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center row">
				<div class="mb-3 row col-md-5">
					<label for="email" class="form-label col-md-5 fw-bold">Email:</label>
					<div class="col-md">
						<input id="email" type="email" class="form-control"
							th:field="*{email}" name="account_email"
							oninput="checkEmail(this);" required />
						<div class="invalid-feedback">Please enter a valid email.</div>
						<div class="invalid-feedback" id="checkEmail"></div>
						<p class="text-danger" th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}"></p>
						<p class="text-danger" th:if="${email}" th:text="${email}"></p>
					</div>
				</div>
				<div class="mb-3 row col-md-5">
					<label for="username" class="form-label col-md-5 fw-bold">Username:</label>
					<div class="col-md">
						<input id="userName" type="text" class="form-control"
							th:field="*{username}" name="account_username" readonly
							oninput="checkUsername(this);" minlength=3 maxlength=15 />
						<div class="invalid-feedback">Please enter username.</div>
						<div class="invalid-feedback" id="checkUnique"></div>
						<p class="text-danger" th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}"></p>
						<p class="text-danger" th:if="${username}" th:text="${username}"></p>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center row">

				<div class="mb-3 row col-md-5">
					<label for="phone" class="form-label col-md-5 fw-bold">Phone:</label>
					<div class="col-md">
						<input id="mobileNo" oninput="checkMobile(this);" type="text"
							class="form-control" th:field="*{phone}" required />
						<div class="invalid-feedback">Please enter a mobile number.</div>
						<p class="text-danger" th:if="${#fields.hasErrors('phone')}"
							th:errors="*{phone}"></p>
						<p class="text-danger" th:if="${phone}" th:text="${phone}"></p>
					</div>
				</div>
				<div class="mb-3 row col-md-5">
					<label for="role" class="form-label col-md-5 fw-bold">Account
						Type:</label>
					<div class="col-md">
						<input type="text" class="form-control" id="role" name="role"
							th:field="*{role}" readonly />
						<div class="invalid-feedback">Please enter either a USER Or
							MERCHANT.</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center row">
				<div class="mb-3 row col-md-5">
					<label for="address" class="form-label col-md-5 fw-bold">Address:</label>
					<div class="col-md">
						<input id="address" type="text" class="form-control"
							th:field="*{address}" required minlength=10 maxlength=250 />
						<div class="invalid-feedback">Please enter an address.</div>
						<p class="text-danger" th:if="${#fields.hasErrors('address')}"
							th:errors="*{address}"></p>
					</div>
				</div>
				<div class="mb-3 row col-md-5">
					<label for="postalCode" class="form-label col-md-5 fw-bold">Postal
						Code: </label>
					<div class="col-md">
						<input id="postalCode" oninput="checkPostal(this);" type="text"
							class="form-control" th:field="*{postal_code}" required />
						<div class="invalid-feedback">Please enter a postal code.</div>
						<p class="text-danger" th:if="${#fields.hasErrors('postal_code')}"
							th:errors="*{postal_code}"></p>
						<p class="text-danger" th:if="${postal}" th:text="${postal}"></p>
					</div>
				</div>

			</div>
			<div class="d-flex justify-content-center row">
				<div class="mb-3 row col-md-5">
					<label for="total_points" class="form-label col-md-5 fw-bold">Total
						Points:</label>
					<div class="col-md">
						<input type="text" class="form-control" id="total_points"
							name="total_points" th:field="*{total_points}" required />
						<div class="invalid-feedback">Please enter a valid points</div>
					</div>
				</div>
				<div class="mb-3 row col-md-5">
					<label for="balance_points" class="form-label col-md-5 fw-bold">Balance
						Points:</label>
					<div class="col-md">
						<input type="text" class="form-control" id="balance_points"
							name="balance_points" th:field="*{balance_points}" required />
						<div class="invalid-feedback">Please enter a valid points</div>
					</div>
				</div>

			</div>
			<div class="d-flex justify-content-center row">
				<div class="mb-3 row col-md-5">
					<label for="membership" class="form-label col-md-5 fw-bold">Membership:</label>
					<div class="col-md">
						<select class="form-control" th:field="*{membership_levels}"
							required>
							<option value="NONE">NONE</option>
							<option value="GOLD">GOLD</option>
							<option value="SILVER">SILVER</option>
							<option value="BRONZE">BRONZE</option>
							<option value="ROOKIE">ROOKIE</option>
						</select>
					</div>
				</div>

				<div class="mb-3 row col-md-5">
					<label for="cashback" class="form-label col-md-5 fw-bold">CashBack:</label>
					<div class="col-md">
						<input class="form-control" th:value="${#numbers.formatPercent(Account.cashback_voucher, 1, 0)}"
							readonly>
					</div>
				</div>

			</div>
			<div class="offset-md-1 mb-3 row col-md-10">
				<div class="mb-3 text-end">
					<button class="btn btn-info" type="submit"
						onclick="if (!confirm('Are you sure you want to proceed?')) { return false }">Submit</button>
					<a class="btn btn-danger" th:href="@{/users}">Cancel</a>
				</div>
			</div>
		</form>

		<!-- Form Validation -->
		<script type="text/javascript" th:inline="javascript">
			var country = "";
			function checkCountry(fieldCountry) {
				country = fieldCountry.value;
			}
			function checkMobile(fieldMobile) {
				if (country == 1) {
					const re = /^$|^[689]\d{7}$/;
					const ok = re.exec(fieldMobile.value);
					if (!ok) {
						fieldMobile
								.setCustomValidity("Mobile Number Wrong Format!");
					} else {
						fieldMobile.setCustomValidity("");
					}
				} else if (country == 2) {
					const re = /^(\+?6?01)[02-46-9][-][0-9]{7}$|^(\+?6?01)[1][-][0-9]{8}$/;
					const ok = re.exec(fieldMobile.value);
					if (!ok) {
						fieldMobile
								.setCustomValidity("Mobile Number Wrong Format!");
					} else {
						fieldMobile.setCustomValidity("");
					}
				} else if (country == 3) {
					const re = /^(08)(\d{3,4}-?){2}\d{2,3}$/;
					const ok = re.exec(fieldMobile.value);
					if (!ok) {
						fieldMobile
								.setCustomValidity("Mobile Number Wrong Format!");
					} else {
						fieldMobile.setCustomValidity("");
					}
				}
			}
			function checkPostal(fieldPostal) {
				if (country == 1) {
					const re = /^$|^\d{6}$/;
					const ok = re.exec(fieldPostal.value);
					if (!ok) {
						fieldPostal
								.setCustomValidity("Postal Code Wrong Format!");
					} else {
						fieldPostal.setCustomValidity("");
					}
				} else if (country == 2) {
					const re = /^$|^\d{5}$/;
					const ok = re.exec(fieldPostal.value);
					if (!ok) {
						fieldPostal
								.setCustomValidity("Postal Code Wrong Format!");
					} else {
						fieldPostal.setCustomValidity("");
					}
				} else if (country == 3) {
					const re = /^$|^\d{5}$/;
					const ok = re.exec(fieldPostal.value);
					if (!ok) {
						fieldPostal
								.setCustomValidity("Postal Code Wrong Format!");
					} else {
						fieldPostal.setCustomValidity("");
					}
				}
			}

			'use strict'
			var form = document.querySelector('.needs-validation')
			form.addEventListener('submit', function(event) {
				if (!form.checkValidity()) {
					event.preventDefault()
					event.stopPropagation()
				}
				form.classList.add('was-validated')
			})
		</script>
		<!-- End Form Validation -->

	</div>
	<div th:replace="fragments/FinantierPay_footer"></div>
</body>
</html>

