<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FinantierPay - Update Account</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
	src="https://unpkg.com/bcryptjs@2.4.3/dist/bcrypt.js"></script>
<style th:replace="fragments/FinantierPay_style"></style>
</head>
<body>
	<div th:replace="fragments/FinantierPay_header"></div>
	<main>
		<div class="container py-3">
			<div class="row justify-content-center align-items-center h-100">
				<div class="col-12 col-lg-12 col-xl-7 border">
					<div class="card shadow-2-strong card-registration"
						style="border-radius: 15px;">
						<div class="card-header text-center">
							<h3>Update Account Password</h3>
						</div>
						<div class="card-body p-4 p-md-5">
							<form class="needs-validation"
								th:action="@{/account/password/edit/{id}(id=${account.accountId})}"
								method="post" novalidate>

								<div class="row">
									<div class="col-md-6 mb-4">
										<label for="current_password" class="form-label">Current
											Password: <span class="text-danger fw-bold">*</span>
										</label> <input id="current_password" name="current_password"
											type="password" class="form-control"
											oninput="checkCurrentPassword(this);" minlength=8
											maxlength=20 required
											pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" />
										<div class="invalid-feedback">Please enter your current
											password</div>
										<div class="invalid-feedback" id="checkCurrentPassword"></div>
										<p class="text-danger" th:if="${currentError}"
											th:text="${currentError}"></p>

									</div>
								</div>
								<div class="row">
									<div class="col-md-6 mb-4">
										<label for="new_password" class="form-label">New
											Password: <span class="text-danger fw-bold">*</span>
										</label> <input id="new_password" name="new_password" type="password"
											class="form-control" minlength=8 maxlength=20 required
											pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" />
										<div class="invalid-feedback">Please enter password.
											Minimum eight characters, at least one uppercase letter, one
											lowercase letter, one number and one special character</div>
										<p class="text-danger" th:if="${patternpassword}" th:text="${patternpassword}"></p>
									</div>

									<div class="col-md-6 mb-4">
										<label for="confirm_password" class="form-label">Confirm
											Password:<span class="text-danger fw-bold">*</span>
										</label> <input id="confirm_password" type="password"
											class="form-control" name="confirm_password"
											oninput="checkPasswordMatch(this);" minlength=8 maxlength=20
											required
											pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" />
										<span id="message2" style="color: red"> </span>
										<div class="invalid-feedback">Password do not match</div>
										<p class="text-danger" th:if="${pattern}" th:text="${pattern}"></p>
										<p class="text-danger" th:if="${matchpassword}"
											th:text="${matchpassword}"></p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-8">
										<div class="text-danger">
											*All fields are mandatory
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group form-group justify-content-md-end">
											<button type="submit" class="btn btn-primary"
												style="width: 200px;"
												onclick="if (!confirm('Are you sure you want to update your account?')) { return false }">Update
												Password</button>
										</div>
										<!-- when the submit button is clicked, it goes to /member/save in the form action 
					and post the data the form -->
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Form Validation -->
		<script type="text/javascript" th:inline="javascript">
		var password = /*[[${password}]]*/'';
		console.log(password);
		
		var bcrypt = dcodeIO.bcrypt; 
		function checkCurrentPassword(fieldCurrentPassword) {
			//password: the value passed from the password form input
			//hash: the value requested from the database. This is the "encrypted" password
			bcrypt.compare(fieldCurrentPassword.value, password).then(validPass => {
				// validPass returns true or false
				if (validPass == false) {
					fieldCurrentPassword
					.setCustomValidity("Wrong Current password");
					document.getElementById("checkCurrentPassword").innerHTML = "Wrong Current Password";
				} else {
					fieldCurrentPassword.setCustomValidity("");
				}
			}).catch(err => console.log('error: ' + err));				
		}
			function checkPasswordMatch(fieldConfirmPassword) {
				var password = document.getElementById("account_password").value;
				if (fieldConfirmPassword.value != password) {
					fieldConfirmPassword
							.setCustomValidity("Passwords do not match!");
				} else {
					fieldConfirmPassword.setCustomValidity("");
				}
			}
			
			'use strict'
			var form = document.querySelector('.needs-validation')
			form.addEventListener('submit', function(event) {
				if (!form.checkValidity()) {
					event.preventDefault()
					event.stopPropagation()
				}
				form.classList.add('was-validated')
			})
		</script>
		<!-- End Form Validation -->

	</main>
	<div>
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
</body>
</html>