<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FinantierPay - Payment</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$("#myModal").modal('show');
	});
</script>
</head>
<body>
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">

			<form id="finantierPay_login" th:action="@{/finantierPaylogin}"
				method="post">
				<!-- Merchant StoreName, Wallet ID, total Cost, redirect-url, current url-->
				<input class="form-control" id="Redirect-URL" name="Redirect-URL"
					type="hidden" th:value="${url}"> <input
					class="form-control" id="current-URL" name="current-URL"
					type="hidden" th:value="${currenturl}"> <input
					class="form-control" id="storeName" name="storeName" type="hidden"
					th:value="${storeName}"> <input class="form-control"
					id="MerchantWalletId" name="MerchantWalletId" type="hidden"
					th:value="${MerchantWalletId}"> <input class="form-control"
					id="totalAmt" name="totalAmt" type="hidden" th:value="${totalAmt}">
			</form>
			<script>
				window.onload = function() {
					document.forms['finantierPay_login'].submit();
				}
			</script>
		</div>
	</div>

</body>
</html>