<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FinantierPay - Notification</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style th:replace="fragments/FinantierPay_style"></style>
</head>
<body>
	<div th:replace="fragments/FinantierPay_header"></div>
	<div class="container mt-3 mb-4">
		<div class="card notification-card notification-invitation">
			<div class="card-header">
				<h2 class="text-center">My Notifications</h2>

			</div>
		</div>
		<div class="card notification-card notification-invitation">
			<div class="card-body">
				<p style="text-align: right;">
					<a th:href="@{/notifications/delete}"
						style="color: blue; text-decoration: underline;"
						onclick="if (!confirm('Are you sure you want to clear all notifications?')) { return false }">Clear
						All</a>
				</p>
				<table class="table bordered table-hover bg-white">
					<thead class="table-info">
						<tr>
							<th></th>
							<th>Date/Time</th>
							<th>Message</th>
							<th></th>
						</tr>
					</thead>
					<th:block th:each="notification : ${notificationsList}">
						<tr>
							<td><i class="fa fa-clock fa-lg" aria-hidden="true"></i></td>
							<td><span
								th:text="${#temporals.format(notification.dateTime, 'dd-MM-yyyy HH:mm')}"></span></td>
							<td><span th:text=${notification.title} class="fw-bold"></span><br>
								<span th:text=${notification.message}></span></td>
							<td><a
								th:href="@{/notifications/delete/{id} (id=${notification.notificationsId})}"><i
									class="fa fa-times fa-lg"
									onclick="if (!confirm('Are you sure you want to delete notification?')) { return false }"
									aria-hidden="true"></i></a></td>
						</tr>
				</table>
				<div class="text-center mb-2" th:if="${size == 0}">No
					Notifications</div>
				<form th:action="@{/notification}">
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end" style="padding: 10px;">
							<!-- First Page -->
							<li th:if="${pageNum == 1}" class="page-item disabled"><button
									name="pageNum" class="page-link" type="submit" th:value="${1}">
									<i class="fa-solid fa-angles-left"></i>
								</button></li>
							<li th:if="${pageNum != 1}" class="page-item"><button
									name="pageNum" class="page-link" type="submit" th:value="${1}">
									<i class="fa-solid fa-angles-left"></i>
								</button></li>

							<!-- Previous -->
							<li th:if="${pageNum == 1}" class="page-item disabled"><button
									name="pageNum" class="page-link" type="submit"
									th:value="${pageNum-1}">
									<i class="fa-solid fa-angle-left"></i>
								</button></li>
							<li th:if="${pageNum != 1}" class="page-item"><button
									name="pageNum" class="page-link" type="submit"
									th:value="${pageNum-1}">
									<i class="fa-solid fa-angle-left"></i>
								</button></li>

							<!-- Page Button -->
							<li th:if="${totalPage != 0}"
								th:each="i:${#numbers.sequence(1, totalPage)}"
								th:class="${pageNum == i} ? 'page-item active' : 'page-item'"><a
								th:if="${i==5 AND pageNum < 5 AND totalPage !=5}" name="pageNum"
								class="page-link">...</a><input th:if="${i < 5 AND pageNum < 5}"
								name="pageNum" class="page-link" th:value="${i}" type="submit"><a
								th:if="${i==1 AND pageNum >= 5 AND totalPage !=5}"
								name="pageNum" class="page-link">...</a><a
								th:if="${pageNum >= 5 AND (pageNum+1) == i AND i < totalPage}"
								name="pageNum" class="page-link">...</a><input
								th:if="${pageNum >= 5 AND (pageNum-4) < i AND i <= pageNum AND i < totalPage AND pageNum != totalPage}"
								name="pageNum" class="page-link" th:value="${i}" type="submit"><input
								th:if="${pageNum >= 5 AND (pageNum-5) < i AND i <= pageNum AND i < totalPage AND pageNum == totalPage}"
								name="pageNum" class="page-link" th:value="${i}" type="submit"><input
								th:if="${i >= 5 AND i == totalPage}" name="pageNum"
								class="page-link" th:value="${i}" type="submit"><span
								class="sr-only">(current)</span></li>

							<li th:if="${totalPage == 0}"
								th:class="${pageNum == 1} ? 'page-item active' : 'page-item'"><input
								name="pageNum" class="page-link" th:value="${1}" type="submit"></li>

							<!-- Next Page -->
							<li th:if="${pageNum == totalPage OR totalPage == 0}"
								class="page-item disabled"><button name="pageNum"
									class="page-link" type="submit" th:value="${pageNum+1}">
									<i class="fa-solid fa-angle-right"></i>
								</button></li>
							<li th:if="${pageNum != totalPage AND totalPage != 0}"
								class="page-item"><button name="pageNum" class="page-link"
									type="submit" th:value="${pageNum+1}">
									<i class="fa-solid fa-angle-right"></i>
								</button></li>

							<!-- Last Page -->
							<li th:if="${pageNum == totalPage OR totalPage == 0}"
								class="page-item disabled"><button name="pageNum"
									class="page-link" type="submit" th:value="${totalPage}">
									<i class="fa-solid fa-angles-right"></i>
								</button></li>
							<li th:if="${pageNum != totalPage AND totalPage != 0}"
								class="page-item"><button name="pageNum" class="page-link"
									type="submit" th:value="${totalPage}">
									<i class="fa-solid fa-angles-right"></i>
								</button></li>
						</ul>
					</nav>
				</form>
			</div>
		</div>
	</div>
	<div th:if="${size == 0}" style="margin-top: 70px;">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
	<div th:if="${size != 0}">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
</body>
</html>