<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FinantierPay - Top Up Success</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$("#myModal").modal('show');
	});
</script>
</head>
<body>
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<img src="/images/FinantierPayLogo.png" alt="Logo" width="50"
							height="35"> <i style="font-size: 35;">FinantierPay</i>
					</h5>
					<!-- should be able to cross and return to shoppingcart -->
					<div class="text-end">
						<a th:href="@{${currenturl}}" class="close"><i
							class="fa fa-times fa-xl text-muted"></i></a>
					</div>
				</div>
				<div class="modal-header">
					<h5 class="modal-title">
						<b>Successfully Top-Up Receipt</b>
					</h5>
				</div>
				<div class="modal-body">
					<div class="mb-3 text-center">
						<h6 style="color: green; font-weight: bold;"
							th:text="'You have Successfully TOP-UP Money to Wallet ID ' + ${wallet.walletId}"></h6>
						<div>
							An email has been sent to <a href="#" th:text="${walletEmail}"
								style="color: blue; text-decoration: underline;"></a>
						</div>
						<div>Notifications has been sent to you.</div>
						<div>
							<a th:href="@{/notifications}"
								style="color: blue; text-decoration: underline;">View
								Notification</a> | <a th:href="@{/transactionhistory}"
								style="color: blue; text-decoration: underline;">View All
								Transaction History</a>
						</div>
						<br>
						<div class="d-flex justify-content-center text-center">
							<br>
							<table class="table bordered table-striped table-hover bg-white">
								<thead class="table-info">
									<tr>
										<th>Date/Time</th>
										<th>Transaction ID</th>
										<th>Amount</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td
											th:text="${#temporals.format(currentDateTime, 'dd-MM-yyyy HH:mm')}"></td>
										<td th:text="${transactionId}"></td>
										<td th:text="${#numbers.formatCurrency(topUpTotal)}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<h5>
							Total balance amount in the wallet: <span
								th:text="${#numbers.formatCurrency(updateWalletAmt)}"
								class="text-success fw-bold"></span>
						</h5>
					</div>

					<form th:action="@{/chooseWalletToPay}" method="post">
						<div class="d-grid gap-2 text-center mb-3">
							<!-- Merchant StoreName, URL, Wallet ID, total Cost -->
							<input class="form-control" id="storeName" name="storeName"
								type="hidden" th:value="${storeName}"> <input
								class="form-control" id="Redirect-URL" name="Redirect-URL"
								type="hidden" th:value="${url}"> <input
						class="form-control" id="current-URL" name="current-URL"
						type="hidden" th:value="${currenturl}"> <input
								class="form-control" id="MerchantWalletId"
								name="MerchantWalletId" type="hidden"
								th:value="${MerchantWalletId}"> <input
								class="form-control" id="totalAmt" name="totalAmt" type="hidden"
								th:value="${totalAmt}">
							<button type="submit" class="btn btn-light btn-lg">Click
								here to Go Back</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
