<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FinantierPay - Transfer Money By QR Code</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style th:replace="fragments/FinantierPay_style"></style>
</head>
<body>
	<div th:replace="fragments/FinantierPay_header"></div>
	<div class="container mb-3">
		<div class="d-flex justify-content-center">
			<div class="card" style="width: 500px;">
				<div class="card-header">
					<h3 class="text-center">Transfer Money</h3>
				</div>
				<div class="card-footer">
					<div th:if="${NoWallet}">
						<h5 class="text-center text-danger">Sorry. You are unable to
							transfer money.</h5>
						<p class="text-center">
							The account that you are transferring to does not have any wallet
							ID. Please let <b class="text-danger">him/her</b> know that they
							need to <b class="text-danger">create</b> a <b
								class="text-danger">wallet ID</b> in order for you to transfer
							money to them.
						</p>
						<h6 class="text-center text-primary">
							<b>Thank You!</b>
						</h6>
					</div>
					<div th:if="${WalletFound}" class="text-center">
						<h5>You are transferring money to</h5>
						<h5 class="fw-bold">
							USERNAME: <span class="text-warning"
								th:text="${#strings.toUpperCase(Wallet.account.username)}"></span>
						</h5>
						<br>
						<form
							th:action="@{/account/{id}/wallet(id=${Wallet.account.accountId})}"
							method="post">
							<div class="d-flex justify-content-center">
								<div class="mb-3 row">
									<label for="wallet_id" class="h5 form-label col-md-5 fw-bold">Enter
										Amount:</label>
									<div class="col-md-6">
										<input class="form-control" id="totalAmt" name="totalAmt"
											type="number" th:value="${totalAmt}"
											oninput="this.form.submit()" min=1 step="0.01">
									</div>
								</div>
							</div>
						</form>
						<br>
						<h5>Select Wallet ID to Transfer money</h5>
						<p class="text-center" id="walletAmt" th:value="${walletAmt}"></p>
						<form
							th:action="@{/account/{id}/wallet/{walletId}/confirm(id=${Wallet.account.accountId}, walletId=${Wallet.walletId})}"
							method="post">
							<div class="offset-md-1 mb-3 row">
								<label for="wallet_id" class="form-label col-md-4 fw-bold">Wallet
									ID:</label>
								<div class="col-md-6">
									<select class="form-control" name="walletId"><option value="">Choose
											Wallet ID</option>
										<option th:each="wallet : ${listloggedInWallets}"
											th:value="${wallet.walletId}"
											th:text="'Wallet ID ' + ${wallet.walletId} + ': ' + ${#numbers.formatCurrency(wallet.totalAmount)}"
											th:if="${wallet.totalAmount >= totalAmt}"></option></select>
								</div>
							</div>
							<input class="form-control" id="totalAmt" name="totalAmt"
								type="number" th:value="${totalAmt}" hidden>
							<div class="text-end">
								<button type="submit" class="btn btn-info">Confirm</button> <a
									th:href="@{/}" class="btn btn-danger">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${NoWallet}" class="fixed-bottom">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
		<div th:if="${WalletFound}">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
</body>
</html>