<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FinantierPay - Failed to Sent Wallet Money</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$("#myModal").modal('show');
	});
</script>
</head>
<body>
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<img src="/images/FinantierPayLogo.png" alt="Logo" width="50"
							height="35"> <i style="font-size: 35;">FinantierPay</i>
					</h5>
					<!-- should be able to cross and return to shoppingcart -->
					<div class="text-end">
						<a th:href="@{${currenturl}}" class="close"><i
							class="fa fa-times fa-xl text-muted"></i></a>
					</div>

				</div>
				<div class="modal-header">
					<h5 class="modal-title">
						<b>Failed To Send Money</b>
					</h5>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<h5 class="text-danger fw-bold">
							You have failed to sent money <br> from Wallet ID <b
								th:text="${wallet.walletId}" class="text-danger"></b> to Wallet
							ID <b th:text="${ToWalletId}" class="text-danger"></b>
						</h5>
						<h5>Reason: You have reached the limit of sending out the
							money per day.</h5>
						<br>
						<h5>FROM WALLET ID</h5>
						<table class="table bordered table-striped table-hover bg-white"
							style="font-size: 13px;">
							<thead class="table-info">
								<tr>
									<th>Date/Time</th>
									<th>Wallet ID</th>
									<th>Transaction ID</th>
									<th>Amount Sent</th>
									<th>Status</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td
										th:text="${#temporals.format(currentDateTime, 'dd-MM-yyyy HH:mm')}"></td>
									<td th:text="${wallet.walletId}"></td>
									<td th:text="${FailtransactionId}"></td>
									<td th:text="${#numbers.formatCurrency(totalAmt)}"></td>
									<td th:text="${status}" class="text-danger fw-bold"></td>
								</tr>
							</tbody>
						</table>
						<h5>
							Total balance amount remained in this wallet: <span
								th:text="${#numbers.formatCurrency(wallet.totalAmount)}"
								class="text-success fw-bold"></span>
						</h5>
					</div>
					<form th:action="@{/chooseWalletToPay}" method="post">
						<!-- Merchant StoreName, URL, Wallet ID, total Cost -->
						<input class="form-control" id="storeName" name="storeName"
							type="hidden" th:value="${storeName}"> <input
							class="form-control" id="Redirect-URL" name="Redirect-URL"
							type="hidden" th:value="${url}"><input
							class="form-control" id="current-URL" name="current-URL"
							type="hidden" th:value="${currenturl}"> <input
							class="form-control" id="MerchantWalletId"
							name="MerchantWalletId" type="hidden"
							th:value="${MerchantWalletId}"> <input
							class="form-control" id="totalAmt" name="totalAmt" type="hidden"
							th:value="${totalAmt}">
						<div class="d-grid gap-2 text-center mt-2 mb-2">
							<button type="submit" class="btn btn-light btn-lg btn-block">Click
								here to go back</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>