<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FinantierPay - Failed to send Money</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style th:replace="fragments/FinantierPay_style"></style>
</head>
<body>
	<div th:replace="fragments/FinantierPay_header"></div>
	<div class="container mb-3">
		<div class="d-flex justify-content-center">
			<div class="card" style="width: 600px;">
				<div class="card-header">
					<h3 class="text-center">Failed to Send Money</h3>
				</div>
				<div class="card-footer text-center">
					<h5 class="text-success fw-bold">Sorry! You have failed to sent the money to</h5>
					<h5 class="fw-bold">
						<span class="text-success">USERNAME:</span> <span class="text-warning"
							th:text="${#strings.toUpperCase(ToWallet.account.username)}"></span>
					</h5>
					<h5>Reason: You have reached the limit of sending out the money per day.</h5>
					<div>
						Notifications has been sent to you.
					</div>
					<div>
						<a th:href="@{/notifications}"
							style="color: blue; text-decoration: underline;">View
							Notifications</a> | <a th:href="@{/transactionhistory}"
							style="color: blue; text-decoration: underline;">View All
							Transaction History</a>
					</div>
					<br>
					<table class="table bordered table-striped table-hover bg-white">
						<thead class="table-info">
							<tr>
								<th>Date/Time</th>
								<th>Wallet ID</th>
								<th>Transaction ID</th>
								<th>Amount Sent</th>
								<th>Status</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td
									th:text="${#temporals.format(currentDateTime, 'dd-MM-yyyy HH:mm')}"></td>
								<td th:text="${walletId}"></td>
								<td th:text="${transactionId}"></td>
								<td th:text="${#numbers.formatCurrency(totalAmt)}"></td>
								<td th:text="${status}" class="text-danger fw-bold"></td>
							</tr>
						</tbody>
					</table>
					<h5>Total balance amount remained in this wallet: <span th:text="${#numbers.formatCurrency(Wallet.totalAmount)}" class="text-success fw-bold"></span></h5>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/FinantierPay_footer"></div>
</body>
</html>