<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FinantierPay - Reset Password Success</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style th:replace="fragments/FinantierPay_style"></style>
</head>
<body>
	<div th:replace="fragments/FinantierPay_header"></div>
	<div class="container" style="height: 300px;">

		<h1 class="text-center">You have successful reset your password.
			Please login your account with your new password</h1>
		<a th:href="@{login}">Login to Your account</a>
	</div>
	<div th:replace="fragments/FinantierPay_footer"></div>
</body>
</html>