<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FinantierPay - Transfer Wallet Money</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style th:replace="fragments/FinantierPay_style"></style>
</head>
<body>
	<div th:replace="fragments/FinantierPay_header"></div>
	<div class="container mb-3">
		<div class="d-flex justify-content-center">
			<div class="card" style="width: 500px;">
				<div class="card-header">
					<h3 class="text-center">Transfer Money to Other Wallet</h3>
				</div>
				<div class="card-body">
					<div th:if="${NoWallet}">
						<h5 class="text-center text-danger">Sorry. You are unable to
							transfer money.</h5>
						<p class="text-center">
							You do not have any other wallet created. <br> Please <b
								class="text-danger">create</b> a <b class="text-danger">New Wallet</b> in order to transfer the
							money.
						</p>
						<h6 class="text-center text-primary">
							<b>Thank You!</b>
						</h6>
					</div>
					<div th:if="${WalletFound}" class="text-center">
						<form th:action="@{/wallet/{id}/confirm(id=${wallet.walletId})}"
							method="post">

							<h5 class="text-danger">
								Current Wallet ID <b><span th:text="${wallet.walletId}"></span></b>
								Balance: <b><span
									th:text="${#numbers.formatCurrency(wallet.totalAmount)}"></span></b>
							</h5>
							<hr>
							<h5>
								<b>Select Wallet ID You Would like to transfer money to</b>
							</h5>
							<br>
							<div class="offset-md-1 mb-3 row">
								<label for="wallet_id" class="form-label col-md-4 fw-bold">Select
									Wallet ID:</label>
								<div class="col-md-6">
									<select class="form-control" name="walletId"><option
											value="">Select Wallet ID</option>
										<option th:each="wallet : ${walletList}"
											th:value="${wallet.walletId}"
											th:text="'Wallet ID ' + ${wallet.walletId} + ': ' + ${#numbers.formatCurrency(wallet.totalAmount)}"
											th:if="${wallet.walletId != walletId}"></option></select>
								</div>
							</div>
							<div class="offset-md-1 mb-3 row">
								<label for="wallet_id" class="form-label col-md-4 fw-bold">Enter
									Amount:</label>
								<div class="col-md-6">
									<input class="form-control" id="totalAmt" name="totalAmt"
										type="number" th:value="${totalAmt}" min=1 step="0.01"
										th:max="${wallet.totalAmount}">
								</div>
							</div>
							<div class="text-end">
								<button type="submit" class="btn btn-info">Confirm</button>
								<a th:href="@{/}" class="btn btn-danger">Cancel</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${NoWallet}" class="fixed-bottom">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
	<div th:if="${WalletFound}">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
</body>
</html>