<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FinantierPay - View User Wallets</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style th:replace="fragments/FinantierPay_style"></style>
</head>
<body>
	<div th:replace="fragments/FinantierPay_header"></div>
	<div class="container">
		<h3 class="text-center">View User Wallets</h3>
		<hr>
		<table class="table bordered table-hover bg-white">
			<thead class="table-info">
				<tr>
					<th>Wallet ID</th>
					<th>Total Wallet Amount</th>
					<th>Daily Transaction Payment Limit</th>
					<th>View Transaction</th>
					<th>View Deleted Transaction</th>
					<th>Status</th>
					<th sec:authorize="hasRole('ADMIN')">Action</th>
				</tr>
			</thead>
			<th:block th:each="wallet : ${listUserWallets}">
				<tr>
					<td><a th:text="${wallet.walletId}"></a></td>
					<td th:text="${#numbers.formatCurrency(wallet.totalAmount)}"></td>
					<td><a
						th:href="@{/wallet/{id}/walletLimit(id=${wallet.walletId})}"
						class="btn btn-info">View Wallet Limit</a></td>
					<td><a class="btn btn-info"
						th:href="@{/wallet/{id}/transactionrecords(id=${wallet.walletId})}">View
							Transaction</a></td>
					<td><a
						th:href="@{/wallet/{id}/deleted/transactionrecords(id=${wallet.walletId})}"
						class="btn btn-info">Deleted Transactions</a></td>
					<td sec:authorize="hasRole('ADMIN')"><a
						th:href="@{/user/wallet/{id}(id=${wallet.walletId})}"><i
							class="fas fa-pencil-alt" style="color: blue;"></i></a></td>
					<td th:if="${wallet.isDeleted == false}" class="text-success fw-bold">
						Active: <span th:text="${#temporals.format(wallet.dateTimeofCreation, 'dd-MM-yyyy HH:mm')}"></span></td>
					<td th:if="${wallet.isDeleted == true}" class="text-danger fw-bold">
						Inactive: <span th:text="${#temporals.format(wallet.dateTimeofDeletion, 'dd-MM-yyyy HH:mm')}"></span></td>
				</tr>
		</table>
		<div class="text-center" th:if="${listUserWallets.size() == 0}">No
			Record of Wallet ID</div>
	</div>
	<div class="fixed-bottom" th:if="${listUserWallets.size()<3}">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
		<div th:if="${listUserWallets.size()>=3}">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
</body>
</html>