<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FinantierPay - View User Voucher</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style th:replace="fragments/FinantierPay_style"></style>
</head>
<body>
	<div th:replace="fragments/FinantierPay_header"></div>
	<section class="container mb-3">

		<h4 class="text-center">View User Vouchers</h4>
		<hr>
		<div th:if="${success}" th:text="${success}"
			class="alert alert-success"></div>
		<div th:if="${warning}" th:text="${warning}"
			class="alert alert-warning"></div>
		<div class="row mb-3">
			<div class="col-md-9">
				<form th:action="@{/user/voucher/{id}(id=${accountId})}">
					<div class="row">
						<div class="col-md-7">
							<input th:if="${keyword!=null}" type="hidden"
								class="form-control" placeholder="Search" name="keyword"
								id="keyword" th:value="${keyword}" />
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text" id="btnGroupAddon">FROM:</div>
								</div>
								<div class="col-md-4">
									<input id="startMonth" type="month" name="startMonthYear"
										class="form-control" th:min="${startMonthYear}"
										th:value="${startMonthYear}"
										oninput="checkStartMonth(this); this.form.submit()"
										th:max="${endMonthYear}" />

								</div>
								<div class="input-group-prepend">
									<div class="input-group-text" id="btnGroupAddon">TO:</div>
								</div>
								<div class="col-md-4">
									<input id="endMonth" type="month" name="endMonthYear"
										class="form-control" th:min="${startMonthYear}"
										th:value="${endMonthYear}" th:max="${endMonthYear}"
										oninput="this.form.submit();" />
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="row">
								<div class="col-md-6">
									<select class="form-control" name="archive"
										onchange="this.form.submit()" required>
										<option th:if="${archive != 'null'}" th:value="${archive}"
											th:text="${archive}"></option>
										<option th:if="${archive == 'null'}" value="">Search
											Archive</option>
										<option th:if="${archive != 'null'}" value="">Search
											Archive</option>
										<option value="Yes" th:if="${archive != 'Yes'}">Yes</option>
										<option value="No" th:if="${archive != 'No'}">No</option>
									</select>
								</div>
								<div class="col-md-6">
									<select class="form-control" name="status"
										onchange="this.form.submit()" required>
										<option th:if="${status != 'null'}" th:value="${status}"
											th:text="${status}"></option>
										<option th:if="${status == 'null'}" value="">Search
											Status</option>
										<option th:if="${status != 'null'}" value="">Search
											Status</option>
										<option th:value="Available" th:if="${status != 'Available'}">Available</option>
										<option th:value="Redeemed" th:if="${status != 'Redeemed'}">Redeemed</option>
										<option th:value="Expired" th:if="${status != 'Expired'}">Expired</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="col-md-3">
				<form th:action="@{/user/voucher/{id}(id=${accountId})}">
					<div class="input-group d-flex justify-content-end">
						<div class="form-outline">
							<input type="text" class="form-control"
								placeholder="Search StoreName" name="keyword" id="keyword"
								th:value="${keyword}" onchange="this.form.submit()" required />
							<!-- hidden -->

							<input th:if="${startMonthYear != ''}" type="hidden"
								class="form-control" name="startMonthYear" id="startMonthYear"
								th:value="${startMonthYear}" /> <input
								th:if="${endMonthYear != ''}" type="hidden" class="form-control"
								name="endMonthYear" id="endMonthYear" th:value="${endMonthYear}" />

							<input th:if="${status != ''}" type="hidden" class="form-control"
								name="status" id="status" th:value="${status}" /> <input
								th:if="${archive != ''}" type="hidden" class="form-control"
								name="archive" id="archive" th:value="${archive}" />
						</div>
						<button type="button" class="btn btn-primary">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="text-end mb-1">
			<a th:href="@{/user/voucher/{id}(id=${accountId})}"
				class="btn btn-danger"> Clear All</a>
		</div>
		<script type="text/javascript" th:inline="javascript">
			function checkStartMonth(fieldStartMonth) {
				document.getElementById("endMonth").min = fieldStartMonth.value;
			}
		</script>

		<table class="table bordered table-hover bg-white">
			<thead class="table-info">
				<tr>
					<th>Expiry Date</th>
					<th>Store Name</th>
					<th>Voucher Value</th>
					<th>Status</th>
					<th>Archive</th>
					<th sec:authorize="hasRole('ADMIN')">Action</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="voucher : ${voucherList}"
					th:if="${voucher.status == 'Available'}">
					<tr>
						<td
							th:text="${#temporals.format(voucher.expiryDate, 'dd-MM-yyyy')}"></td>
						<td th:text="${voucher.storeName}"></td>
						<td th:if="${voucher.voucher_value < 1 }"
							th:text="${#numbers.formatPercent(voucher.voucher_value,1,0)}"></td>
						<td th:if="${voucher.voucher_value >= 1 }"
							th:text="${#numbers.formatCurrency(voucher.voucher_value)}"></td>
						<td
							th:if="${voucher.status == 'Expired' Or voucher.status == 'Redeemed'}"
							class="text-danger fw-bold" th:text="${voucher.status}"></td>
						<td th:if="${voucher.status == 'Available'}"
							class="text-success fw-bold" th:text="${voucher.status}"></td>
						<td class="text-success fw-bold" th:text="${voucher.archive}"></td>
						<td sec:authorize="hasRole('ADMIN')"><a
							th:href="@{/user/voucher/edit/{id}(id=${voucher.voucherId})}"><i
								class="fas fa-pencil-alt" style="color: blue;"></i></a></td>
					</tr>
			</tbody>
			<tbody>
				<th:block th:each="voucher : ${voucherList}"
					th:if="${voucher.status == 'Expired' Or voucher.status == 'Redeemed'}">
					<tr>
						<td
							th:text="${#temporals.format(voucher.expiryDate, 'dd-MM-yyyy')}"></td>
						<td th:text="${voucher.storeName}"></td>
						<td th:if="${voucher.voucher_value < 1 }"
							th:text="${#numbers.formatPercent(voucher.voucher_value,1,0)}"></td>
						<td th:if="${voucher.voucher_value >= 1 }"
							th:text="${#numbers.formatCurrency(voucher.voucher_value)}"></td>
						<td th:if="${voucher.status == 'Redeemed'}"
							class="text-danger fw-bold" th:text="${voucher.status}"></td>
						<td th:if="${voucher.status == 'Expired'}"
							class="text-secondary fw-bold" th:text="${voucher.status}"></td>
						<td th:if="${voucher.status == 'Available'}"
							class="text-success fw-bold" th:text="${voucher.status}"></td>
						<td class="text-success fw-bold" th:text="${voucher.archive}"></td>
						<td sec:authorize="hasRole('ADMIN')"><a
							th:href="@{/user/voucher/edit/{id}(id=${voucher.voucherId})}"><i
								class="fas fa-pencil-alt" style="color: blue;"></i></a></td>
					</tr>
			</tbody>
		</table>

		<h5 class="text-center mb-3" th:if="${voucherList.size() == 0}">No
			Voucher Found</h5>
		<form th:action="@{/user/voucher/{id}(id=${accountId})}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end" style="padding: 10px;">
					<!-- First Page -->
					<li th:if="${pageNum == 1}" class="page-item disabled"><button
							name="pageNum" class="page-link" type="submit" th:value="${1}">
							<i class="fa-solid fa-angles-left"></i>
						</button></li>
					<li th:if="${pageNum != 1}" class="page-item"><button
							name="pageNum" class="page-link" type="submit" th:value="${1}">
							<i class="fa-solid fa-angles-left"></i>
						</button></li>

					<!-- Previous -->
					<li th:if="${pageNum == 1}" class="page-item disabled"><button
							name="pageNum" class="page-link" type="submit"
							th:value="${pageNum-1}">
							<i class="fa-solid fa-angle-left"></i>
						</button></li>
					<li th:if="${pageNum != 1}" class="page-item"><button
							name="pageNum" class="page-link" type="submit"
							th:value="${pageNum-1}">
							<i class="fa-solid fa-angle-left"></i>
						</button></li>

					<!-- Page Button -->
					<li th:if="${totalPage != 0}"
						th:each="i:${#numbers.sequence(1, totalPage)}"
						th:class="${pageNum == i} ? 'page-item active' : 'page-item'"><a
						th:if="${i==5 AND pageNum < 5 AND totalPage !=5}" name="pageNum"
						class="page-link">...</a><input th:if="${i < 5 AND pageNum < 5}"
						name="pageNum" class="page-link" th:value="${i}" type="submit"><a
						th:if="${i==1 AND pageNum >= 5 AND totalPage !=5}" name="pageNum"
						class="page-link">...</a><a
						th:if="${pageNum >= 5 AND (pageNum+1) == i AND i < totalPage}"
						name="pageNum" class="page-link">...</a><input
						th:if="${pageNum >= 5 AND (pageNum-4) < i AND i <= pageNum AND i < totalPage AND pageNum != totalPage}"
						name="pageNum" class="page-link" th:value="${i}" type="submit"><input
						th:if="${pageNum >= 5 AND (pageNum-5) < i AND i <= pageNum AND i < totalPage AND pageNum == totalPage}"
						name="pageNum" class="page-link" th:value="${i}" type="submit"><input
						th:if="${i >= 5 AND i == totalPage}" name="pageNum"
						class="page-link" th:value="${i}" type="submit"><span
						class="sr-only">(current)</span></li>

					<li th:if="${totalPage == 0}"
						th:class="${pageNum == 1} ? 'page-item active' : 'page-item'"><input
						name="pageNum" class="page-link" th:value="${1}" type="submit"></li>

					<!-- Next Page -->
					<li th:if="${pageNum == totalPage OR totalPage == 0}"
						class="page-item disabled"><button name="pageNum"
							class="page-link" type="submit" th:value="${pageNum+1}">
							<i class="fa-solid fa-angle-right"></i>
						</button></li>
					<li th:if="${pageNum != totalPage AND totalPage != 0}"
						class="page-item"><button name="pageNum" class="page-link"
							type="submit" th:value="${pageNum+1}">
							<i class="fa-solid fa-angle-right"></i>
						</button></li>

					<!-- Last Page -->
					<li th:if="${pageNum == totalPage OR totalPage == 0}"
						class="page-item disabled"><button name="pageNum"
							class="page-link" type="submit" th:value="${totalPage}">
							<i class="fa-solid fa-angles-right"></i>
						</button></li>
					<li th:if="${pageNum != totalPage AND totalPage != 0}"
						class="page-item"><button name="pageNum" class="page-link"
							type="submit" th:value="${totalPage}">
							<i class="fa-solid fa-angles-right"></i>
						</button></li>
				</ul>
			</nav>
		</form>

	</section>
	<div class="fixed-bottom" th:if="${voucherList.size()<1}">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
	<div th:if="${voucherList.size()>=1}">
		<div th:replace="fragments/FinantierPay_footer"></div>
	</div>
</body>
</html>