<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FinantierPay - Enter Wallet Pin</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$("#myModal").modal('show');
	});
</script>
<style>
.pin-code {
	padding: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.pin-code input {
	border: none;
	text-align: center;
	width: 48px;
	height: 48px;
	font-size: 20px;
	background-color: #F3F3F3;
	margin-right: 5px;
}

.pin-code input:focus {
	border: 1px solid #573D8B;
	outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
</style>
</head>
<body>
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<img src="/images/FinantierPayLogo.png" alt="Logo" width="50"
							height="35"> <i style="font-size: 35;">FinantierPay</i>
					</h5>
					<!-- should be able to cross and return to shoppingcart -->
					<div class="text-end">
						<a th:href="@{${currenturl}}" class="close"><i
							class="fa fa-times fa-xl text-muted"></i></a>
					</div>
				</div>
				<div class="modal-header">
					<h5 class="modal-title">Payment</h5>
					<div class="text-end">
						<i class="fa-solid fa-cart-shopping"></i> <span
							th:text="${#numbers.formatCurrency(totalAmt)}"></span> <span
							th:text="${account.country.countryCode}"></span>
					</div>
				</div>
				<div class="modal-body">
					<div class="alert alert-primary">
						Hi, <span th:text="${account.username}"></span>!
					</div>
					<h5>
						<u>CONFIRMATION</u>
					</h5>
					<h5>
						WALLET ID: <span th:text="${UserWalletId}"></span>
					</h5>
					<h5 th:if="${voucherId != 0}">
						VOUCHER VALUE: <span
							th:text="${#numbers.formatCurrency(voucher.voucher_value)}"></span>
					</h5>
					<hr>
					<div class="row">
						<h5 class="col-md-6">TOTAL AMOUNT TO PAY</h5>
						<h5 class="col-md-6 text-end">
							<span th:text="${#numbers.formatCurrency(totalamount)}"></span> <span
								th:text="${account.country.countryCode}"></span>
						</h5>
					</div>
					<hr>
					<h3 class="mb-4 text-center">Enter Your Wallet Pin</h3>

					<form class="needs-validation" th:action="@{/paymentsuccess}"
						method="post" novalidate>
						<div class="pin-code mt-5">
							<input id="d1" name="d1" type="password" maxlength="1" autofocus>
							<input id="d2" name="d2" type="password" maxlength="1"> <input
								id="d3" name="d3" type="password" maxlength="1"> <input
								id="d4" name="d4" type="password" maxlength="1"> <input
								id="d5" name="d5" type="password" maxlength="1"> <input
								id="d6" name="d6" type="password" maxlength="1">
						</div>
						<br>
						<p style="text-align: center;" class="text-danger"
							th:if="${errorMsg}" th:text="${errorMsg}"></p>

						<!-- Merchant StoreName, Wallet ID, total Cost, redirect-url -->
						<input class="form-control" id="Redirect-URL" name="Redirect-URL"
							type="hidden" th:value="${url}"><input
							class="form-control" id="current-URL" name="current-URL"
							type="hidden" th:value="${currenturl}"> <input
							class="form-control" id="storeName" name="storeName"
							type="hidden" th:value="${storeName}"> <input
							class="form-control" id="MerchantWalletId"
							name="MerchantWalletId" type="hidden"
							th:value="${MerchantWalletId}"> <input
							class="form-control" id="totalAmt" name="totalAmt" type="hidden"
							th:value="${totalAmt}">

						<!-- User wallet ID, voucher, total Amount, cashback Voucher -->
						<input class="form-control" id="UserWalletId" name="UserWalletId"
							type="hidden" th:value="${UserWalletId}"> <input
							class="form-control" id="voucherId" name="voucherId"
							type="hidden" th:value="${voucherId}"> <input
							th:if="${voucherId == 0}" class="form-control" id="totalamount"
							name="totalamount" type="hidden" th:value="${totalamount}">
						<input th:if="${voucherId != 0}" class="form-control"
							id="totalamount" name="totalamount" type="hidden"
							th:value="${totalamount}"> <input type="hidden"
							name="cashback_voucher" th:value="${account.cashback_voucher}">

						<div class="d-grid mt-2">
							<button type="submit" class="btn btn-info btn-lg">
								Confirm And Pay</button>
						</div>
					</form>
					<form th:action="@{/chooseWalletToPay}" method="post" novalidate>
						<!-- Merchant StoreName, URL, Wallet ID, total Cost -->
						<input class="form-control" id="storeName" name="storeName"
							type="hidden" th:value="${storeName}"> <input
							class="form-control" id="Redirect-URL" name="Redirect-URL"
							type="hidden" th:value="${url}"><input
							class="form-control" id="current-URL" name="current-URL"
							type="hidden" th:value="${currenturl}"> <input
							class="form-control" id="MerchantWalletId"
							name="MerchantWalletId" type="hidden"
							th:value="${MerchantWalletId}"> <input
							class="form-control" id="totalAmt" name="totalAmt" type="hidden"
							th:value="${totalAmt}">

						<div class="d-grid gap-2 text-center mt-2">
							<button type="submit" class="btn btn-danger btn-lg">
								Cancel</button>
						</div>
					</form>
					<script type="text/javascript">
						//var pinContainer = document.getElementsByClassName("pin-code")[0];
						var pinContainer = document.querySelector(".pin-code");
						console.log('There is ' + pinContainer.length
								+ ' Pin Container on the page.');

						pinContainer.addEventListener('keyup', function(event) {
							var target = event.srcElement;

							var maxLength = parseInt(
									target.attributes["maxlength"].value, 10);
							var myLength = target.value.length;

							if (myLength >= maxLength) {
								var next = target;
								while (next = next.nextElementSibling) {
									if (next == null)
										break;
									if (next.tagName.toLowerCase() == "input") {
										next.focus();
										break;
									}
								}
							}

							if (myLength === 0) {
								var next = target;
								while (next = next.previousElementSibling) {
									if (next == null)
										break;
									if (next.tagName.toLowerCase() == "input") {
										next.focus();
										break;
									}
								}
							}
						}, false);

						pinContainer.addEventListener('keydown',
								function(event) {
									var target = event.srcElement;
									target.value = "";
								}, false);
					</script>

					<!-- Form Validation -->
					<script>
						'use strict'

						var form = document.querySelector('.needs-validation')

						form.addEventListener('submit', function(event) {
							if (!form.checkValidity()) {
								event.preventDefault()
								event.stopPropagation()
							}

							form.classList.add('was-validated')
						})
					</script>
					<!-- End Form Validation -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>
