<!-- <div id="dropin-container"></div>
<button id="submit-button">Request payment method</button>
<form th:action="@{/}" method="post" id="paypalForm">
	<input type="hidden" name="formtopupTotal" id="formtopupTotal"
		th:value="${topUpAmt}"> <input type="hidden" name="walletId"
		id="walletId" th:value="${walletId}"><input type="hidden"
		name="transactionId" id="transactionId">
</form> -->
<!-- <script>
	var topUpTotal = document.getElementById("formtopupTotal").value;
	console.log("Top Up Total: " + topUpTotal);
	
	// For Drop-in...
	braintree.dropin.create({
		authorization: 'sandbox_v2xx456z_8v5hv4f5nyrzpfmm',
		container: '#dropin-container',
		vaultManager: true,
	
	}).then(function (instance) {
			button.addEventListener('click', function () {
				instance.requestPaymentMethod().then(function (payload) {
				// Submit payload.nonce to your server
				}).catch(function (requestPaymentMethodErr) {
						dropinInstance.clearSelectedPaymentMethod();
						errorMessagesDiv.textContent = 'Transaction failed. Please select a different payment method.'
				});
			});
	});
</script> -->
<form id="payment-form" method="post"
	th:action="@{/wallet/{id}/checkouts(id=${wallet.walletId})}">
	<div class="bt-drop-in-wrapper">
		<div id="bt-dropin"></div>
	</div>
	<input id="amount" name="amount" type="hidden" min="1"
		placeholder="Amount" th:value="${topUpAmt}" /> <input type="hidden"
		id="nonce" name="payment_method_nonce" />
	<button class="button" type="submit">
		<span>Test Transaction</span>
	</button>
</form>

<script>
	var topUpTotal = document.getElementById("amount").value;
	console.log("Top Up Total: " + topUpTotal);
	
	var form = document.querySelector('#payment-form');
	braintree.dropin.create({
		authorization : 'sandbox_v2xx456z_8v5hv4f5nyrzpfmm',
		container : '#bt-dropin',

	}, function(createErr, instance) {
		form.addEventListener('submit', function(event) {
			event.preventDefault();

			instance.requestPaymentMethod(function(err, payload) {
				if (err) {
					console.log('Error', err);
					return;
				}

				// Add the nonce to the form and submit
				document.querySelector('#nonce').value = payload.nonce;
				form.submit();
			});
		});
	});
</script>