
<div class="row border-bottom fw-bold">
<div id="paypal-button-container"
		th:if="${(topUpAmt)==0 Or walletId==0}" th:class="${'btn disabled'}"></div>
	<div id="paypal-button-container"
		th:if="${(topUpAmt)!=0 AND walletId!=0}"></div>
	<form th:action="@{/chooseWalletToTopUp/process_topup}" method="post"
		id="paypalForm">
		<input type="hidden" name="formtopupTotal" id="formtopupTotal"
			th:value="${topUpAmt}"> <input type="hidden"
			name="walletIdTopUp" id="walletIdTopUp" th:value="${walletId}"><input
			type="hidden" name="transactionId" id="transactionId">

		<!-- Merchant StoreName, URL, Wallet ID, total Cost -->
		<input class="form-control" id="storeName" name="storeName"
			type="hidden" th:value="${storeName}"> <input
			class="form-control" id="Redirect-URL" name="Redirect-URL"
			type="hidden" th:value="${url}"> <input class="form-control"
			id="current-URL" name="current-URL" type="hidden"
			th:value="${currenturl}"> <input class="form-control"
			id="MerchantWalletId" name="MerchantWalletId" type="hidden"
			th:value="${MerchantWalletId}"> <input class="form-control"
			id="totalAmt" name="totalAmt" type="hidden" th:value="${totalAmt}">
	</form>

	<script>
		var topUpTotal = document.getElementById("formtopupTotal").value;
		console.log("Top Up Total: " + topUpTotal);

		paypal
				.Buttons(
						{
							style : {
								shape : 'rect',
								color : 'gold',
								layout : 'horizontal',
								label : 'paypal',
								tagline : true
							},
							createOrder : function(data, actions) {
								// This function sets up the details of the transaction, 
								// including the amount and line item details.
								return actions.order.create({
									purchase_units : [ {
										amount : {
											value : topUpTotal
										}
									} ]
								});
							},
							onApprove : function(data, actions) {
								// This function captures the funds from the transaction.
								return actions.order
										.capture()
										.then(
												function(details) {

													//Extracting some information from details
													var transactionId = details.purchase_units[0].payments.captures[0].id;
													var completedBy = details.payer.name.given_name;

													//Printing to the console some details
													console
															.log('Transaction completed by '
																	+ completedBy);
													console
															.log("Transaction ID: "
																	+ transactionId);

													//Printing full details JSON
													console
															.log(JSON
																	.stringify(details));

													//Calling processTopUp function
													processTopUp(transactionId);
												});
							}
						}).render('#paypal-button-container');

		function processTopUp(transactionId) {

			//Set transactionId into the hidden values in the paypalForm
			document.getElementById("transactionId").value = transactionId;

			//Submit the paypalForm to be processed at the backend
			document.getElementById("paypalForm").submit();
			console.log("Processing top up in backend: " + transactionId);

		}
	</script>

</div>