<footer class="text-center text-lg-start text-black"
	style="background-color: lightblue;">
	<!-- Grid container -->
	<div class="container-fluid">
		<!--Grid row-->
		<div class="row">
			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-3 mx-auto mt-3">
				<ul class="nav flex-column">
					<h6 class="text-uppercase mb-4 font-weight-bold">FinantierPay</h6>
					<li>FinaniterPay offers you a
						better option of making digital payment through one-payment click.
					</li>
				</ul>
			</div>

			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-4 mx-auto mt-3">
				<h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>
				<span>
					<i class="fas fa-home mr-3"></i> 9146B Neil Rd, #03-01, Finantier
					088875
				</span><br>
				<span>
					<i class="fas fa-envelope mr-3"></i> finantierpay@gmail.com
				</span><br>
				<span>
					<i class="fas fa-phone mr-3"></i> +(65) 65103000
				</span>
			</div>

			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
				<ul class="nav flex-column">
					<h6 class="text-uppercase mb-4 font-weight-bold">Customer
						Service</h6>
					<li><a th:href="@{/faq}">FAQ</a></li>
					<li><a th:href="@{/help}">Help & Support</a></li>
					<li><a href="">Terms & Conditions</a></li>
				</ul>
			</div>
			
		</div>
		<!--Grid row-->
		<br>
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center p-3"
		style="background-color: rgba(0, 0, 0, 0.2)">© 2022 Finantier
		Pte Ltd. Trademarks and brands are the property of their respective
		owners.</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
